.credentials {
  display: flex;
  align-items: center;
  gap: 43px;

  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__icon {
    width: 33px;
    fill: #053FA6;
  }

  &__text {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
  }
}