.logo {
  display: flex;
  align-items: center;
  gap: 21px;

  &__img {
    width: 71px;
  }

  &__text {
    color: rgb(16, 16, 16);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -5%;
  }
}