<nav class="navbar">
  <ul class="navbar__list">
    <li><a href="#" class="navbar__link">Прописка</a></li>
    <li><a href="#" class="navbar__link">Вид на проживання</a></li>
    <li><a href="#" class="navbar__link">Закордонний паспорт</a></li>
    <li><a href="#" class="navbar__link">Паспорт України</a></li>
    <li><a href="#" class="navbar__link">Новини</a></li>
    <li><a href="#" class="navbar__link">Відгуки</a></li>
    <li><a href="#" class="navbar__link">Контакти</a></li>
  </ul>
</nav>